@use '../../partials/partial' as *;
.projects {
  margin-bottom: 5rem;
  max-width: 30rem;
  margin: auto;

  @include tablet {
    max-width: 48rem;
  }

  @include desktop {
    max-width: 64rem;
  }
  img {
    height: 16rem;
    width: 23rem;
    margin-bottom: 2rem;

    @include tablet {
      height: 13rem;
      width: 20rem;
      padding-right: 0.5rem;
    }
    @include desktop {
      height: 10rem;
      width: 17rem;
    }
  }

  &__imgcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__title {
    font-size: 2rem;
    color: rgb(61, 59, 59);
    text-align: center;
    text-decoration: underline;
    margin: 2.5rem 0 2rem 0;
  }

  &__imgcontainer p {
    position: relative;
    display: inline-block;
  }

  &__imgcontainer .projects__thumb:hover img {
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
  }

  &__imgcontainer .projects__thumb span {
    display: none;
    position: absolute;
    top: 185px;
    left: 110px;
  }
  &__imgcontainer .projects__thumb:hover span {
    display: block;
  }

  &__imgcontainer .projects__thumb span input {
    width: 150px;
    height: 40px;
    background: #b71c1c;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
}
