@use '../../partials/partial' as *;

.about {
  margin: auto;
  height: 290px;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;

  &__container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-direction: row;
      width: 50rem;
    }
  }

  &-title {
    padding: 1rem 0;
    text-decoration: underline;

    @include desktop {
      margin-right: 3rem;
    }
  }

  &-text {
    font-size: 1rem;

    @include desktop {
      width: 35rem;
    }
  }
}
